/*увеличение картинки при нажатии*/
#popup{
	background-color: rgba(00,00,00,0.65);
	height:10%;
	width: 10%;
	position:fixed;
	top: 20;
	left: 267;
	display: none;
}
#center{
	cursor: pointer;
	margin: 6% auto;
	width: 750px;
}
#lightbox{
	border: 8px solid #828282;
}